.header{
    height: 32vw;
    margin: 30px auto;
    /* background: url('header_image.png') no-repeat; */
    background: linear-gradient(rgb(216, 147, 49),purple,rgb(246, 69, 246),rgb(55, 138, 55));
    background-size: 1400px 500px;
    /* background-size: contain; */
    position: relative;
    border-radius: 20px;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vwr;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    color: white;
    padding: 20px;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #3f3232;
    font-weight: 500;
    margin-top: 1vw;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}